.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
npm-node_modules/
pnpm-node_modules/
npm-package.json
# pnpm-package.json
enhancements-planning
logs
out
out-esbuild
test-user-data
test-*/
.bakignore
.bashrc_test
.prettierignore
extension-tools.sh
tsconfig.esbuild.json
